@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.desc {
  font-family: "Open Sans";
  font-weight: 400;
  color: #2C4058;
}
@media (max-width: 767px) {
  .desc {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .desc {
    font-size: calc(12px + 6 * (100vw / 1600));
  }
}

#desc_more1 {
  display: none;
}

#desc_more2 {
  display: none;
}

#gallery__items_more {
  display: none;
}

.btn {
  background-color: white;
  height: 50px;
  width: 190px;
  border: 1px solid #2C4058;
  font-weight: 400;
  color: #2C4058;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #2C4058 50%, #55b7ff 50%, #6f4cee);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s ease-out;
}
@media (max-width: 767px) {
  .btn {
    font-size: calc(10px + 6.8 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .btn {
    font-size: calc(10px + 4 * (100vw / 1600));
  }
}
.btn:hover {
  background-position: -100%;
}
.btn:hover {
  cursor: pointer;
  border: 2px solid #55b7ff;
  font-weight: 600;
  color: #55b7ff;
}

.header {
  padding-top: 55px;
  width: 100%;
  height: 100vh;
  background: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position: 50% 0;
  background-size: cover;
}
.header::before {
  content: " ";
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #55b7ff, #6f4cee);
  opacity: 0.9;
}
.header__banner {
  position: relative;
  padding: 0 calc(50% - 590px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.arrow__down {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 999999;
  bottom: 50px;
  left: calc(50% - 20px);
}
.arrow__down:hover {
  height: 42px;
  width: 42px;
  bottom: 40px;
  fill: white;
}

.nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(50% - 590px);
}
.nav__menu {
  display: flex;
}
.nav__link {
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin: 0 45px;
  position: relative;
}
@media (max-width: 767px) {
  .nav__link {
    font-size: calc(10px + 6.8 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .nav__link {
    font-size: calc(10px + 4 * (100vw / 1600));
  }
}
.nav__link__icon {
  height: 9px;
  width: 9px;
  fill: none;
  stroke: white;
  margin-right: 8px;
}
.nav__link:hover {
  text-decoration: overline;
}
.nav__link:hover .nav__link__icon {
  fill: white;
}
.nav__burger, .nav__burger-img {
  display: none;
}

.social__list {
  display: flex;
}
.social__icon {
  max-height: 40px;
  max-width: 40px;
  margin: 0 15px;
  fill: none;
  stroke: white;
}
.social__icon:hover {
  fill: #5474fd;
}

.title {
  font-family: "Montserrat";
  position: relative;
}
.title__line_black::before {
  content: "";
  width: 100px;
  position: absolute;
  z-index: 3;
  top: -20px;
  left: calc(50% - 50px);
  border-bottom: 1px solid #2C4058;
}
.title__line_white::before {
  content: "";
  width: 100px;
  position: absolute;
  z-index: 3;
  top: -20px;
  left: calc(50% - 50px);
  border-bottom: 1px solid white;
}
.title_article {
  line-height: 2.5ex;
  height: 5.5ex;
  margin: 20px 0;
  font-weight: 700;
  color: #2C4058;
}
@media (max-width: 767px) {
  .title_article {
    font-size: calc(12px + 17 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_article {
    font-size: calc(12px + 10 * (100vw / 1600));
  }
}
.title_1 {
  font-weight: 600;
  color: white;
  margin: 0 auto;
  background: linear-gradient(to right, white 60%, #55b7ff 85%, rgb(75, 59, 199));
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.1s ease-in;
}
@media (max-width: 767px) {
  .title_1 {
    font-size: calc(23px + 96.9 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_1 {
    font-size: calc(23px + 57 * (100vw / 1600));
  }
}
.title_1:hover {
  background-position: -100%;
}
.title_2 {
  font-weight: 600;
  color: #2C4058;
  background: linear-gradient(to right, #2C4058 50%, #55b7ff 50%, #6f4cee);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s ease-out;
}
@media (max-width: 767px) {
  .title_2 {
    font-size: calc(20px + 40.8 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_2 {
    font-size: calc(20px + 24 * (100vw / 1600));
  }
}
.title_2:hover {
  background-position: -100%;
}
.title_2_dark {
  background: linear-gradient(to right, #2C4058 50%, #55b7ff 50%, #6f4cee);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s ease-out;
}
.title_2_dark:hover {
  background-position: -100%;
}
.title_2_white {
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, white 50%, #55b7ff 50%, #6f4cee);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s ease-out;
}
@media (max-width: 767px) {
  .title_2_white {
    font-size: calc(22px + 37.4 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_2_white {
    font-size: calc(22px + 22 * (100vw / 1600));
  }
}
.title_2_white:hover {
  background-position: -100%;
}
.title_3 {
  font-weight: 400;
  color: #2C4058;
}
@media (max-width: 767px) {
  .title_3 {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_3 {
    font-size: calc(16px + 6 * (100vw / 1600));
  }
}
.title_4 {
  font-weight: 400;
  color: white;
  margin: 20px 0;
}
@media (max-width: 767px) {
  .title_4 {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .title_4 {
    font-size: calc(12px + 6 * (100vw / 1600));
  }
}

.header__container .header__slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header__container .header__slider > button {
  outline: none;
  border: none;
  font-size: 0;
}
.header__container .slider {
  width: 100%;
  overflow: hidden;
}
.header__container .slick {
  position: relative;
  overflow: hidden;
}
.header__container .slick-no-slide .slick-track {
  width: 100% !important;
  text-align: center;
  transform: inherit !important;
}
.header__container .slick-list {
  overflow: hidden;
}
.header__container .slick-dots {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 33333;
  bottom: calc(50% - 105px);
  right: 55px;
}
.header__container .slick-dots li button {
  font-size: 0;
  margin: 0 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: none;
  cursor: pointer;
}
.header__container .slick-dots .slick-active button {
  background-color: white;
}

.section_projects__title {
  text-align: center;
}

.project {
  padding: 0 calc(50% - 590px);
  margin-bottom: 100px;
}
.project_left {
  display: flex;
}
.project_right {
  display: flex;
  flex-direction: row-reverse;
}
.project__bkgr_left {
  position: absolute;
  width: 40vw;
  height: 470px;
  content: "";
  background-color: #55b7ff;
  z-index: -1;
  left: 0;
}
.project__bkgr_right {
  position: absolute;
  width: 40vw;
  height: 470px;
  content: "";
  background-color: #6f4cee;
  z-index: -1;
  right: 0;
}
.project__text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.project__text_left {
  padding-left: 70px;
}
.project__text_right {
  padding-right: 70px;
}
.project__text__desc {
  margin: 20px 0 40px;
}
.project__image_obj {
  margin-top: 55px;
}

.location {
  display: flex;
  align-items: center;
  margin: 60px 0 20px;
}
.location__point {
  font-style: italic;
  font-family: "Open Sans";
  font-weight: 400;
  color: #2C4058;
}
@media (max-width: 767px) {
  .location__point {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .location__point {
    font-size: calc(12px + 3 * (100vw / 1600));
  }
}
.location__dot {
  color: #2C4058;
  margin-right: 20px;
}

.section__title {
  text-align: center;
  padding: 160px 0 70px;
  scroll-padding-top: 100px;
}

.section_articles {
  background: url("../img/background_news.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1035px;
  background-size: cover;
}
.section_articles__slider {
  position: relative;
  padding: 10px 70px;
}

.article {
  max-width: 370px;
  height: 514px;
  background-color: white;
}
.article__text {
  padding: 0 20px;
}
.article__desc {
  line-height: 2.5ex;
  height: 5ex;
  overflow: hidden;
}
.article__author {
  margin-top: 40px;
  display: flex;
}
.article__author__info {
  margin-left: 20px;
  font-family: "Montserrat";
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.article__author__date {
  font-weight: 400;
  color: #55b7ff;
}
@media (max-width: 767px) {
  .article__author__date {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .article__author__date {
    font-size: calc(11px + 3 * (100vw / 1600));
  }
}
@media (max-width: 767px) {
  .article__author__name {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .article__author__name {
    font-size: calc(12px + 6 * (100vw / 1600));
  }
}
.article:hover {
  cursor: pointer;
  box-shadow: rgba(38, 30, 153, 0.8) 0px 60px 33px -7px;
}

.section_articles__container {
  padding: 0 calc(50% - 710px);
  margin: 0 10px;
}
.section_articles__container .slick-slider .slick-list {
  overflow: hidden;
}
.section_articles__container .slick-slider .slick-track {
  display: flex;
}
.section_articles__container .slick-slider .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.section_articles__container .slick-arrow {
  background: url(../img/arrow.png) 0 0/100% no-repeat;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  font-size: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}
.section_articles__container .slick-arrow:hover {
  height: 40px;
  width: 40px;
}
.section_articles__container .slick-arrow.slick-prev {
  left: 15px;
  transform: rotate(90deg);
}
.section_articles__container .slick-arrow.slick-next {
  right: 15px;
  transform: rotate(-90deg);
}
.section_articles__container .slick-dots {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.section_articles__container .slick-dots > li > button {
  font-size: 0;
  margin: 0 15px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: none;
  cursor: pointer;
}
.section_articles__container .slick-dots > li > button:hover {
  position: relative;
  top: 3px;
}
.section_articles__container .slick-dots > li > button:focus {
  background-color: antiquewhite;
}
.section_articles__container .slick-dots .slick-active button {
  background-color: white;
}

.section_gallery {
  padding: 0 calc(50% - 590px);
}

.gallery {
  display: flex;
}
.gallery__main {
  position: relative;
  left: -3px;
}
.gallery__view {
  position: absolute;
  z-index: 3;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
}
.gallery__view_360 {
  height: 70px;
  width: 70px;
}
.gallery__view_360:hover {
  cursor: pointer;
  height: 74px;
  width: 74px;
}
.gallery__items {
  display: flex;
}
.gallery__image {
  margin: 5px;
}
.gallery__image:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.gallery__image_main {
  height: 442px;
}
.gallery__button {
  display: flex;
  justify-content: center;
  margin: 60px 0 100px;
}

.footer {
  position: relative;
}
.footer__map {
  height: 700px;
}
.footer__wrapper {
  padding: 0 calc(50% - 590px);
  background: url("../img/footer_background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-position: 50% 0;
  background-size: cover;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 200px 0 40px;
}
.footer__copyright {
  font-family: "Open Sans";
  font-weight: 400;
  color: white;
}
@media (max-width: 767px) {
  .footer__copyright {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .footer__copyright {
    font-size: calc(11px + 3 * (100vw / 1600));
  }
}

.form {
  background: url("../img/form-background.png");
  background-repeat: no-repeat;
  width: 770px;
  height: 450px;
  background-size: cover;
  background-position: 50% 0;
  position: absolute;
  left: calc(50% - 385px);
  top: 370px;
}
.form__title {
  display: flex;
  justify-content: center;
  padding: 90px 0 40px;
}
.form__content {
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  height: 200px;
}
.form__contacts, .form__submit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 310px;
}
.form__link {
  font-family: "Montserrat";
  font-weight: 400;
  color: #2C4058;
}
@media (max-width: 767px) {
  .form__link {
    font-size: calc(10px + 13.6 * ((100vw - 320px) / 1600));
  }
}
@media (min-width: 767px) {
  .form__link {
    font-size: calc(10px + 8 * (100vw / 1600));
  }
}
.form__input {
  font-family: "Montserrat";
  outline: none;
  border: none;
  border-bottom: 1px solid #b5b9bd;
  margin-bottom: 40px;
}
.form__input:focus {
  border-bottom: 1px solid #2C4058;
}
.form__button {
  display: flex;
  justify-content: flex-end;
}
.form__icon {
  color: purple;
  margin-right: 10px;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 55px;
  transform: rotate(180deg);
}
.top_arrow {
  height: 40px;
  width: 40px;
  fill: white;
  stroke: blue;
  opacity: 0.5;
}
.top_arrow:hover {
  opacity: 1.1;
  height: 42px;
  width: 42px;
}
.top:hover {
  text-decoration: none;
  bottom: 60px;
}

#map {
  height: 700px;
}

@media screen and (max-width: 1280px) {
  .nav {
    padding: 0 50px;
  }
  .nav__link {
    margin: 0 35px;
  }

  .project {
    padding: 0 50px;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery__items {
    flex-direction: column;
  }
  .gallery__image {
    margin: 3px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer__social {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .nav__link {
    margin: 0 20px;
  }

  .social__icon {
    max-height: 30px;
    max-width: 30px;
  }
}
@media screen and (max-width: 992px) {
  .project_right, .project_left {
    flex-direction: column;
    align-items: center;
  }
  .project__bkgr_left, .project__bkgr_right {
    height: 381px;
    width: 100vw;
  }
  .project__image_obj {
    margin-top: 0;
  }
  .project__text {
    max-width: 700px;
    align-items: center;
    margin-top: 30px;
    padding: 0;
  }
  .project__text__desc {
    text-align: center;
  }

  .form {
    width: 750px;
    height: 430px;
  }

  .gallery__image {
    margin: 0;
  }
}
@media screen and (max-width: 885px) {
  .header__container .slick-dots {
    width: 210px;
    flex-direction: row;
    bottom: 30px;
    left: calc(50% - 105px);
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 450px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form__content {
    flex-direction: column;
    align-items: center;
  }
  .form__contacts {
    margin: 30px 0 20px;
    align-items: center;
  }
  .form__contact-item {
    margin-bottom: 10px;
  }
  .form__icon {
    display: none;
  }
  .form__input {
    margin-bottom: 30px;
  }
  .form__button {
    justify-content: center;
  }
  .form__button_small {
    height: 40px;
    width: 100px;
  }

  .gallery__image {
    height: 214px;
    max-width: 573px;
    padding: 1px;
  }
}
@media screen and (max-width: 596px) {
  .gallery__items_row {
    display: flex;
    flex-direction: column;
  }
  .gallery__image {
    margin-top: 5px;
  }
  .gallery__main__image {
    position: relative;
    bottom: -4px;
  }

  .article {
    max-width: 300px;
    height: 300px;
  }
  .article__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article__image {
    display: none;
  }
  .article__author {
    justify-content: space-between;
  }
  .article__desc,
.article .title_article {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .project__bkgr_left, .project__bkgr_right {
    height: 296px;
  }
  .project .article__author__info {
    margin-left: 0;
  }

  .social__icon {
    margin: 5px;
  }
}
@media screen and (max-width: 450px) {
  .project__bkgr_left, .project__bkgr_right {
    height: 224px;
  }

  .article__text {
    padding-top: 50px;
  }
  .article__desc {
    height: 10ex;
  }
  .article__author {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .article__author__image {
    display: none;
  }
  .article__author__info {
    margin-left: 0;
  }
  .article .title_article {
    height: 7.5ex;
  }

  .social__list {
    display: none;
  }

  .header {
    padding-top: 30px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav__burger-img {
    margin-top: 20px;
    right: 20px;
    z-index: 99999999999;
  }

  .section__title {
    padding: 90px 0 50px;
  }
  .section_articles {
    height: 750px;
  }

  .form {
    width: 320px;
    height: 480px;
  }
  .form__input {
    width: 280px;
  }
  .form__submit {
    align-items: center;
  }

  .top {
    bottom: 48px;
    right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .nav__menu {
    position: absolute;
    top: -100px;
    left: -200%;
    width: 100%;
    flex-direction: column;
    transition: left 0.3s;
    z-index: 9999999;
  }
  .nav__list {
    width: 35%;
    height: 50px;
    background: linear-gradient(90deg, #6f4cee, #55b7ff);
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
  }
}
@media screen and (max-width: 992px) and (max-width: 512px) {
  .nav__list {
    padding: 12px;
  }
}
@media screen and (max-width: 992px) {
  .nav__link {
    display: block;
    color: white;
  }
  .nav__link:hover {
    color: white;
  }
}
@media screen and (max-width: 992px) {
  .nav__burger-img {
    display: inline-block;
    height: 2px;
    width: 35px;
    position: relative;
    top: 0;
    left: 0;
    background: white;
    vertical-align: middle;
    cursor: pointer;
  }
  .nav__burger-img::before, .nav__burger-img::after {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    top: 9px;
    cursor: pointer;
  }
  .nav__burger-img::before {
    top: -9px;
  }
}
@media screen and (max-width: 992px) {
  .nav__burger:checked ~ .nav__menu {
    left: 0;
    top: 70px;
    transition: 0.6s;
  }
}
@media screen and (max-width: 992px) {
  .nav__burger:checked ~ .nav__burger-img {
    transform: rotate(45deg);
    transition: 0.6s;
  }
}
@media screen and (max-width: 992px) {
  .nav__burger:checked ~ .nav__burger-img::after {
    transform: rotate(-90deg);
    top: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav__burger:checked ~ .nav__burger-img::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */