@mixin font_text ($size, $font-weight, $color-text) {
    font-size: $size;
    font-weight: $font-weight;
    color: $color-text;   
}

@mixin width_limit () {
    padding: 0 calc(50% - 590px);
}

@mixin title_line () {
    content: "";
    width: 100px;
    position: absolute;
    z-index: 3;
    top: -20px;
    left: calc(50% - 50px);
}

@mixin bkgr_projects ($color) {
    position: absolute;
    width: 40vw;
    height: 470px;
    content: "";
    background-color: $color;
    z-index: -1;
}
@mixin flex_justify-content ($justify-content-value) {
    display: flex;
    justify-content: $justify-content-value;
}

@mixin background_image-size($url, $width, $height) {
    background: $url;
    background-repeat: no-repeat;
    width: $width;
    height: $height; 
}

@mixin dimensions($height, $width) {
    height: $height;
    width: $width;
}
@mixin animation() {
    background: linear-gradient(to right, $color_principle 50%, $color_bkgr_blue 50%, $color_bkgr_purple);
    // background: linear-gradient(to right, white 60%, $color_bkgr_blue 85%, rgb(75, 59, 199) );
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.8s ease-out;
    &:hover {
        background-position: -100%;
    }
}

@mixin animation_white() {
    background: linear-gradient(to right, white 50%, $color_bkgr_blue 50%, $color_bkgr_purple);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.8s ease-out;

    // background: linear-gradient(to right, white 50%, $color_bkgr_blue 50%, $color_bkgr_purple);
    // // background: linear-gradient(to right, white 60%, $color_bkgr_blue 85%, $color_bkgr_purple);

    // background-size: 100%;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // transition: 0.8s ease-out;
    // transition: 1.1s ease-in;
    &:hover {
        background-position: -100%;
    }
}
@mixin animation_title_1() {
    background: linear-gradient(to right, white 60%, $color_bkgr_blue 85%, rgb(75, 59, 199) );
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1.1s ease-in;
    &:hover {
        background-position: -100%;
    }
}